@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5b4;
  --foreground: #394759;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff5b4;
    --foreground: #394759;
  }
}

html {
  padding: 0;
  margin: 0;
  @apply overflow-hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  @apply w-full max-w-full overflow-hidden;

  min-height: 100svh;
  height: 100svh;
  max-height: 100svh;
  padding: 0;
  margin: 0;
}
